<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charles.geo.mapper.ExpertMapper">

    <!-- 定义Expert类型 -->
    <resultMap type="Expert" id="ExpertMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="photo" column="photo"/>
        <result property="department" column="department"/>
        <result property="major" column="major"/>
        <result property="level" column="level"/>
    </resultMap>


    <!--根据医院id查询专家-->
    <select id="findByHospitalId" resultMap="ExpertMap" parameterType="String">
        SELECT * FROM t_expert WHERE hospital_id=#{_param}
    </select>

</mapper>