<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charles.geo.mapper.PlaceMapper">

    <!-- 定义Region类型 -->
    <resultMap type="Region" id="RegionMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="type" column="type"/>
        <!--<collection property="aliasList" column="name"
                    select="com.charles.geo.mapper.AliasMapper.findAliasByName"/>-->
        <result property="fatherId" column="father_id"/>
    </resultMap>

    <resultMap type="PointPlace" id="PointPlaceMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="fatherId" column="father_id"/>
    </resultMap>

    <resultMap id="StringResult" type="java.lang.String">
        <result column="place_id" property="placeId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--根据id查询行政区划-->
    <select id="findRegionById" resultMap="RegionMap" parameterType="java.lang.String">
      SELECT * FROM t_region WHERE id=#{_param}
    </select>

    <!--根据id查询poi地点-->
    <select id="findPointPlaceById" resultMap="PointPlaceMap" parameterType="java.lang.String">
        SELECT * FROM t_place WHERE id=#{_param} AND (`type` IS NULL  OR `type`='')
    </select>

    <!--查询所有行政区划-->
    <select id="findAllRegion" resultMap="RegionMap">
        SELECT * FROM t_region
    </select>

    <!--插入行政区划的别名-->
    <insert id="insertAlias" parameterType="Map">
        INSERT INTO t_alias VALUES (#{id},#{alias},#{type},#{place_id})
    </insert>

    <!--根据father_id查询-->
    <select id="findRegionByFather" resultMap="RegionMap" parameterType="String">
        SELECT * FROM t_region WHERE father_id=#{_param}
    </select>

    <!--findPlaceIdByAlias-->
    <select id="findPlaceIdByAlias" resultMap="StringResult" parameterType="String">
        SELECT place_id FROM t_alias WHERE alias LIKE #{_param}
    </select>

    <!--queryPointPlaceByName-->
    <select id="queryPointPlaceByName" parameterType="String" resultMap="PointPlaceMap">
        SELECT * FROM t_place WHERE (`type` is null OR `type`='') AND `name` LIKE #{_param}
    </select>

</mapper>